<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
  <head>
    <title>Open Prescribing{% block extratitle %}{% endblock %}</title>
    {% block prevstyles %}{% endblock %}
    {% include 'head.jinja2' %}
    {% block extratemplates %}{% endblock %}
    {% block extrastyles %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <a class="navbar-brand" href="/">
        <img src="/static/img/op-logo.png" alt="Open Prescribing" />
      </a>
      <ul class="navbar-nav nav">
        <li class="{% if nav == 'what' %}active{% endif %}">
          <a href="/what">what</a>
        </li>
        <li class="{% if nav == 'why' %}active{% endif %}">
          <a href="/why">why</a>
        </li>
        <li class="{% if nav == 'who' %}active{% endif %}">
          <a href="/who">who</a>
        </li>
        <li class="{% if nav == 'api' %}active{% endif %}">
          <a href="/api/v2/doc">api</a>
        </li>
        <li class="{% if nav == 'explore' %}active{% endif %}">
          <a href="/explore">explore</a>
        </li>

      </ul>

    </div>
    {% block precontainer %}{% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block extrascripts %}{% endblock %}

    <div id="footer" class="navbar {% block footerclass %}navbar-fixed-bottom {% endblock%}">
      <p class="navbar-text">
        This product is currently an alpha release and may contain bugs.
        <a href="https://github.com/openhealthcare/open-prescribing/issues">
          Feel free to let us know if you find any...
        </a>
        <a href="http://openhealthcare.org.uk" class="navbar-link pull-right">
          <img src="/static/img/logo.box.png" class="" alt="" />
        </a>
      </p>
    </div>

  </body>
</html>
