{% extends 'baser.jinja2' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_drug_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block precontainer %}
  <div id="explore-nav">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Individual Drugs</a></li>
      <li><a href="/explore/ratio">Relationships</a></li>
    </ul>
  </div>
  <div id="explore-container"></div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-8 col-offset-2">
      <h2>e.g.</h2>
      <p class="lead">
        How does <a href="/example-salbutamol"> prescribing of
        Salbutamol per capita vary by CCG</a>?
      </p>
    </div>
  </div>

{% endblock %}

{% block footerclass %}navbar-static-bottom{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/js/data/ccg-data.js"></script>
  <script src="/static/js/clients/explore_drug.js"></script>
  <script type="text/javascript">
    window.$ = jQuery;
    $(document).ready(function(){
        $('body').tooltip({
            selector: '.tt'
        });
        $(".tabbable").live('click', function(e){
            e.preventDefault();
            $(this).tab("show");
        });


    ExploreDrug.start();

    });
  </script>
{% endblock %}
