{% extends 'baser.jinja2' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_drug_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block precontainer %}
  <!--[if !IE]><!-->
  <div id="explore-nav">
    <ul class="nav nav-pills nav-stacked">
      <li  {% if active == 'percapita' %}class="active"{% endif %}><a href="/explore">Drugs</a></li>
      <li  {% if active == 'ratio' %}class="active"{% endif %}><a href="/explore/ratio">Relationships</a></li>
    </ul>
  </div>

  <div id="explore-alerts">
  {% block alert %}
  <div class="alert alert-info alert-dismissable">
    <button type="button" id="percapita-close" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h2>
      <i class="fa fa-fw fa-info-circle"></i>Regional variation in prescribing habits
    </h2>
    <p>
      Looking at regional variation for drugs, or for groups of drugs is important because
      it allows us to explore how our health system is working.
    </p>
    <p>
      Healthcare professionals, such as GPs, retain a high degree of autonomy in deciding which
      drug therapy to prescribe. Individual healthcare professionals consider the evidence and
      exercise their judgement in deciding which drug therapy to prescribe in a particular circumstance.
    </p>
  </div>
  {% endblock %}
  </div>
  <div id="explore-container"></div>
<!--<![endif]-->
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-8 col-offset-2">

      <!--[if IE]>
          <h1>Oh, it looks like you're using Internet Explorer.</h1>
          <p>
            You can use Open Prescribing in these browsers:
          </p>
          <div >
            <ul>
              <li >
                <a href="https://www.google.com/chrome" target="_blank">
                  <img height="64" width="64" alt="chrome" src="/static/img/chrome-logo.jpg">
                    <span>Chrome</span>
                </a>
              </li>
              <li>
                <a href="https://www.mozilla.org/firefox" target="_blank">
                  <img height="64" width="64" alt="firefox" src="/static/img/firefox_128x128.png">
                    <span>Firefox</span>
                </a>
              </li>
              <li>
                <a href="http://www.opera.com/" target="_blank">
                  <img height="64" width="64" alt="opera" src="/static/img/opera-logo.jpg">
                    <span>Opera</span>
                </a>
              </li>
            </ul>
          </div>
          <![endif]-->

    </div>
  </div>

{% endblock %}

{% block footerclass %}navbar-static-bottom{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/js/data/ccg-data.js"></script>
  <script src="/static/js/clients/explore_drug.js"></script>
  <script type="text/javascript">
    window.$ = jQuery;
    $(document).ready(function(){

    $('#percapita-close').click(function( e ){
    e.preventDefault();
    $.cookie('percapita-alert', 'closed', { path: '/' });
    });

     if( $.cookie('percapita-alert') === 'closed' ){
        $('#percapita-close').click();
    }



        $('body').tooltip({
            selector: '.tt'
        });
        $(".tabbable").live('click', function(e){
            e.preventDefault();
            $(this).tab("show");
        });


    ExploreDrug.start();

    });
  </script>
{% endblock %}
