{% extends 'baser.jinja2' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_drug_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block precontainer %}
  <!--[if !IE]><!-->
  <div id="explore-nav">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/explore">Individual Drugs</a></li>
      <li><a href="/explore/ratio">Relationships</a></li>
    </ul>
  </div>
  <div id="explore-container"></div>
<!--<![endif]-->
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-8 col-offset-2">


      <!--[if IE]>
          <h1>Oh, it looks like you're using Internet Explorer.</h1>
          <p>
            You can use Open Prescribing in these browsers:
          </p>
          <div >
            <ul>
              <li >
                <a href="https://www.google.com/chrome" target="_blank">
                  <img height="64" width="64" alt="chrome" src="/static/img/chrome-logo.jpg">
                    <span>Chrome</span>
                </a>
              </li>
              <li>
                <a href="https://www.mozilla.org/firefox" target="_blank">
                  <img height="64" width="64" alt="firefox" src="/static/img/firefox_128x128.png">
                    <span>Firefox</span>
                </a>
              </li>
              <li>
                <a href="http://www.opera.com/" target="_blank">
                  <img height="64" width="64" alt="opera" src="/static/img/opera-logo.jpg">
                    <span>Opera</span>
                </a>
              </li>
            </ul>
          </div>
          <![endif]-->

      <!--[if !IE]><!-->

      <h2>e.g.</h2>
      {% block example %}
      <p class="lead">
        How does <a href="/example-salbutamol"> prescribing of
        Salbutamol per capita vary by CCG</a>?
      </p>
      {% endblock %}


      <!--<![endif]-->


    </div>
  </div>

{% endblock %}

{% block footerclass %}navbar-static-bottom{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/js/data/ccg-data.js"></script>
  <script src="/static/js/clients/explore_drug.js"></script>
  <script type="text/javascript">
    window.$ = jQuery;
    $(document).ready(function(){
        $('body').tooltip({
            selector: '.tt'
        });
        $(".tabbable").live('click', function(e){
            e.preventDefault();
            $(this).tab("show");
        });


    ExploreDrug.start();

    });
  </script>
{% endblock %}
