
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="canonical" href="http://prescriptions.openhealthcare.org.uk/" />
        <link rel="shortcut icon" href="/static/img/op.ico" />
        <link rel="next" title="About this site" href="/about" />

        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

        <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" /> -->
        <link rel="stylesheet" href="/static/css/lib/bootstrap/3/css/bootstrap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/static/css/lib/awesome/css/font-awesome.css" type="text/css" media="all" />

        <!-- Mapping CSS -->
        <link rel="stylesheet" href="/static/css/leaflet.css" type="text/css" media="all" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/css/leaflet.ie.css" /><![endif]-->
	<link rel="stylesheet" href="/static/css/MarkerCluster.css" />
	<link rel="stylesheet" href="/static/css/MarkerCluster.Default.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/MarkerCluster.Default.ie.css" /><![endif]-->

        <link rel="stylesheet" href="/static/css/timeline.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/css/swagger.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/css/op.css" type="text/css" media="screen" />
        <!-- 3rd party Javascript libraries -->
        <script type="text/javascript" src="/static/js/lib/humanize.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.cookie.js"></script>
        <script type="text/javascript" src="/static/js/lib/jqueryui/jquery-ui-1.10.1.custom.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
        <script type="text/javascript" src="/static/js/lib/backbone/backbone.js"></script>
        <script type="text/javascript" src="/static/js/lib/backbone/backbone.marionette.js"></script>
        <script type="text/javascript" src="/static/js/lib/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="/static/js/lib/leaflet/leaflet.markercluster-src.js"></script>
        <script type="text/javascript" src="/static/css/lib/bootstrap/3/js/bootstrap.js"></script>


        <!-- Our Javascripts -->
        <script type="text/javascript" src="/static/js/prescribing.js"></script>
