{% extends 'baser.jinja2' %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-offset-2">
      <h1>Why Open Prescribing?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-offset-2 feature">

    <center>
      <iframe width="560" height="315"
              src="//www.youtube.com/embed/ZEq_-Fgth9E?rel=0"
              frameborder="0" allowfullscreen>
      </iframe>
    </center>
    </div>
  </div>
  <div class="row copy">
    <div class="col-lg-8 col-offset-2">
      <p class="lead">
        For many conditions prescription drugs are the mainstay of treatment and their use is intimately related to health outcomes for patients. Analysis of open GP Prescribing Data suggests considerable variation in prescribing behaviour. Sometimes this may be justified by true variation in patient groups; but often it reflects unwarranted variation in care. This data therefore presents an opportunity to support prescribers and optimise health outcomes for patients.
      </p>
      <p class="lead">
        Support of prescribers may be direct and educational. For example a GP may enter his practice details and see that his practice is an outlier for the prescription of a certain class of drugs and decide to refresh his or her knowledge in this areas through a targeted educational module. Integration with an electronic prescribing system to provide personalised feedback, based on actual practice, would also be possible.
      </p>
      <p class="lead">
        Alternatively prescribers may be supported indirectly by open prescribing, for example by open prescribing supporting health service research areas such as prescribing policy impact evaluation.
      </p>

    </div>
  </div>
{% endblock %}

  {% block footerclass %}navbar-static-bottom{% endblock %}
