{% extends 'baser.html' %}
{% block content %}
  <h1>
    Practice Report for {{ practice.display_name }}
  </h1>
  <h2>
    {{ total_scrips }} Prescriptions (£ {{ total_cost }})
  </h2>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Period</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for scrip in top_5 %}
        <tr>
          <td>{{ scrip.product.name}}</td>
          <td>{{ scrip.quantity }}</td>
          <td>{{ scrip.display_period }}</td>
          <td>{{ scrip.actual_cost }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
