BeautifulSoup==3.2.1
Django==1.4.3
Fabric==1.5.3
Pygments==1.6
South==0.7.6
Werkzeug==0.8.3
argparse==1.2.1
bpython==0.12
distribute==0.6.24
dj-database-url==0.2.1
django-extensions==0.9
django-mapit==1.0.0pr2
-e git://github.com/toastdriven/django-tastypie.git@e9c2dc3309c9b8275d7b9455b841e0d0d746c350#egg=django_tastypie-dev
-e git://github.com/davidmiller/django-tastypie-swagger.git@d64e88edf3ef986f82745c4b162dab95bd38f955#egg=django_tastypie_swagger-dev
django-test-utils==0.3
ffs==0.0.7.3
gunicorn==0.14.6
ipdb==0.7
ipython==0.13.1
mimeparse==0.1.3
paramiko==1.9.0
psycopg2==2.4.5
pycrypto==2.6
python-dateutil==1.5
requests==0.14.1
six==1.2.0
wsgiref==0.1.2
