<script id="explore-drug-controls-template" type="text/template">

  <div class="row">
    <div class="col-md-6">
      <h2>Examples...</h2>
      <h2>
        <a href="/explore/inhalers-per-capita">Inhalers per capita</a>
      </h2>
      <p>Are people more likely to be prescribed Inhalers in the North?</p>
      <h2>
        <a href="/explore/statins-per-capita">Statins per capita</a>
      </h2>
      <p>Which regions have a particularly high rate of prescribing Statins?</p>
      <h2>
        <a href="/explore/nicotine-per-capita">Nicotine per capita</a>
      </h2>
      <p>Giving up smoking - where does the NHS prescribe the most?</p>
    </div>
    <div class="col-md-6">
      <h2>Choose your own...</h2>
      <div id="filter"></div>
      <div class="bucket">
        <h4>Drug(s)</h4>
        <div id="bucket1"></div>
      </div>

      <button class="btn btn-danger go">
        Draw me a map...
      </button>

    </div>
  </div>
</script>
