{% for entry in entries %}
<div class="row-fluid">
  <div class="span10">
    <h4>
      <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
        {{ entry.title }}
      </a>
    </h4>
    <p>
      {% if entry.image %}
      <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
        <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="thumbnail pull-left" style="margin-right: 15px;" />
      </a>
      {% endif %}
      {{ entry.excerpt }}
      <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
        read more...
      </a>

    </p>
  </div>
</div>
{% endfor %}
