{% load tracking  data_range %}

<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
  <head>
    <title>Open Prescribing{% block extratitle %}{% endblock %}</title>
    {% include 'head.html' %}
    {% block extratemplates %}{% endblock %}
    {% block extrastyles %}{% endblock %}
  </head>
  <body>
    {% tracking %}
    <div class="navbar navbar-static-top">
      <a class="{% if request.path == '/' %}active{% endif %} navbar-brand" href="/">
        <img src="{{STATIC_URL}}/img/op-logo.png" alt="Open Prescribing" />
      </a>
      <ul class="navbar-nav nav">
        <li class="{% if request.path == '/what' %}active{% endif %}">
          <a href="/what">what</a>
        </li>
        <li class="{% if request.path == '/why' %}active{% endif %}">
          <a href="{% url 'why' %}">why</a>
        </li>
        <li class="{% if request.path == '/who' %}active{% endif %}">
          <a href="/who">who</a>
        </li>
        <li class="{% if request.path == '/api/doc' %}active{% endif %}">
          <a href="/api/doc">api</a>
        </li>
        <li class="pull-right {% if 'explore' in request.path %}active{% endif %}">
          <a href="/explore">explore</a>
        </li>

      </ul>

    </div>
    {% block precontainer %}{% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
