{% extends 'basest.html' %}

{% load tracking  data_range %}
<!DOCTYPE html>
<html dir="ltr" lang="en-GB" class="full">
    <head>
      <title>Open Prescribing{% block extratitle %}{% endblock %}</title>
      {% block prevstyles %}{% endblock %}
      {% include 'head.html' %}
      {% block extrastyles %}{% endblock %}
      {% block extratemplates %}{% endblock %}
      {% block link %}{% endblock %}
    </head>
    <body class="full {% if request.user.is_authenticated %}user{% else %}anon{% endif%}
                 {% if html_classes %}{% for klass in html_classes %} {{ klass }} {% endfor %}{% endif %}">
        {% tracking %}
        <div class="container full">

        <div class="alpha navbar-fixed-top">
          This product is currently an alpha release and may contain bugs.
          Feel free to
          <a href="https://github.com/openhealthcare/open-prescribing/issues">
            let us know if you find any...
          </a>
        </div>

          <div class="row-fluid full">

            <div id="header" class="span2 full">
              {% include 'nav.html' %}
              <div class="alert">
                Data:<br/> {% data_range %}
              </div>
            </div>

            <div id="main" class="span10 full">
              <div id="content" class="span11 offset2 drop30">
                {% block content %}{% endblock %}
                <hr />
                {% block extracontent %}

                {% endblock %}
                <small>
                  <p class="muted">
                    Found a bug ? <a href="https://github.com/openhealthcare/open-prescribing">Let us Know!</a>
                    We'd love to <a href="{% url 'contact' %}">get your feedback!</a>
                  </p>
                </small>
              </div>

              <div id="footer">
                {% block footer %}{% endblock %}

            </div>
          </div> <!-- row-fluid -->
        </div>   <!-- container -->

        {% block extrascripts %}{% endblock %}

    </body>
</html>
