<!DOCTYPE html>
<html dir="ltr" lang="en-GB" class="full">
    <head>
      <title>Open Prescribing{% block extratitle %}{% endblock %}</title>
      {% block prevstyles %}{% endblock %}
      {% include 'head.html' %}
      {% block extrastyles %}{% endblock %}
      {% block extratemplates %}{% endblock %}
      {% block link %}{% endblock %}
    </head>
    <body class="full {% if request.user.is_authenticated %}user{% else %}anon{% endif%}
                 {% if html_classes %}{% for klass in html_classes %} {{ klass }} {% endfor %}{% endif %}">
        <div class="container full">
          <div class="row-fluid full">

            <div id="header" class="span2 full">
              {% include 'nav.html' %}
            </div>

            <div id="main" class="span10 full">
              <div id="content" class="span11 offset2 drop40">
                {% block content %}{% endblock %}xb
                <hr />
                {% block extracontent %}

                {% endblock %}
              </div>

              <div id="footer">
                {% block footer %}{% endblock %}
              </div>

            </div>
          </div> <!-- row-fluid -->
        </div>   <!-- container -->

        {% block extrascripts %}{% endblock %}

    </body>
</html>
