{% extends 'baser.html' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_drug_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" href="{{STATIC_URL}}/css/clients/drug.css" type="text/css" media="all" />
{% endblock %}

{% block content %}
  <h1>
    Explore NHS Prescription data
  </h1>

  <div id="explore-container"></div>

{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="{{STATIC_URL}}js/data/ccg-data.js"></script>
  <script src="{{STATIC_URL}}js/clients/explore_drug.js"></script>
  <script type="text/javascript">
    window.$ = jQuery;
    $(document).ready(function(){
        $('body').tooltip({
            selector: '.tt'
        });
        $(".tabbable").live('click', function(e){
            e.preventDefault();
            $(this).tab("show");
        });

        ExploreDrug.start();
    });
  </script>
{% endblock %}
