{% extends 'baser.html' %}
{% load bootstrap %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block content %}
  <h1>
    Explore NHS Prescription data
  </h1>

  {% if request.user.is_authenticated %}

  <h2>
    O.K. - now what do I do?
  </h2>

  <p>
    We've built a few visualisation tools to help you ask interesting
    questions about prescribing in the UK...
  </p>

  <div class="span4">
    <a href="{% url 'explorecompare' %}">
      <h3>Compare relationships</h3>
    </a>
    <p>
      What does the <a href="{% url 'example-hfc' %}">
      breakdown of inhaler prescriptions</a> with
      HFC/Dry powder systems look like by CCG?
    </p>
    <p>
      Which CCGs or practices prescribe <a href="{% url 'explorecompare' %}/0212000AAAAAAAA,0212000AAAAACAC/0212000ACAAAAAA,0212000ACAAACAC,0212000B0AAAAAA,0212000B0AAACAC,0212000X0AAAAAA,0212000X0AAADAD,0212000Y0AAAAAA,0212000Y0AAADAD,0212000Y0AAALAL">
      unusually high proportions of branded statins</a>?
    </p>
  </div>

  <div class="span4">
    <a href="{% url 'exploredrug' %}">
      <h3>Explore individual drugs</h3>
    </a>
    <p>
      How does <a href="{% url 'example-salbutamol' %}"> prescribing of
      Salbutamol per capita vary by CCG</a>?
    </p>
  </div>

  {% else %}

    In order to ask the data your own questions and explore the answers,
    either log in or <a href="{% url 'account_signup' %}">sign up</a>
    for an account


    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input type="hidden" name="next" value="/explore" />
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          Sign In
        </button>
        <a class="btn" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
    </form>


  {% endif %}

{% endblock %}
