{% extends 'baser.html' %}
{% load bootstrap %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block content %}
  <h1>
    Explore NHS Prescription data
  </h1>

  {% if request.user.is_authenticated %}
    {% include 'explore_copy.html' %}
  {% else %}

    In order to ask the data your own questions and explore the answers,
    either log in or <a href="{% url 'account_signup' %}">sign up</a>
    for an account


    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input type="hidden" name="next" value="/explore" />
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          Sign In
        </button>
        <a class="btn" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
    </form>


  {% endif %}

{% endblock %}
