{% extends 'baser.html' %}
{% load i18n zinnia_tags %}
{% block content %}
<p>
  <img src="{{STATIC_URL}}img/drugssign.jpg">
  Every month, the <a href="http://www.ic.nhs.uk/home">NHS Information Centre</a>
  publishes an open dataset of the UK's
  <a href="http://www.ic.nhs.uk/gpprescribingdata">GP prescribing activity</a>.
  Roughly ten million records each month. Which is brilliant for openness, transparency
  and enabling research, but not particularly friendly.
</p>
<p>
  Open Prescribing offers a free <a href="/api/doc">public API</a> for anyone to build
  visualisations and
  answer questions about GP prescribing habits, along with sample applications that
  make use of the data in interesting ways.
</p>

<h2>
  Examples
</h2>
{% get_featured_entries 3 "zinnia/featured_entries.html" %}

{% endblock %}
