{% extends 'baser.html' %}
{% load static %}
{% load i18n zinnia_tags %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <center>
      <a href="/explore">
        <h2>Individual drugs</h2>
        <img src="{% static 'img/bottle.icon.png' %}" class="explorer" alt="" />
      </a>
      <h3>
        Examine postcode lottery drugs
      </h3>
      <h3>
          Investigate prescribing of high cost drugs
      </h3>
      </center>
    </div>
    <div class="col-lg-6">
      <center>
      <a href="/explore/ratio">
        <h2>Groups of drugs</h2>
        <img src="{% static 'img/scales.icon.svg' %}" class="explorer" alt="" />
      </a>
      <h3>
        Compare branded vs generic drugs
      </h3>
      <h3>
        Review inhalers by environmental impact
      </h3>
      </center>
    </div>
  </div>
{% endblock %}
{% block oldcontent %}
  <h2>
    exploring the UK's GP prescribing data
  </h2>
  <div class="row-fluid marketing3">
    <div class="span6">
      <a href="{% url 'explore' %}">
        <h2>
          <i class="icon-question-sign"></i>
          explore the data interactively
        </h2>
      </a>
      <p>
        Find the answers to interesting questions about prescribing
        habits by using our <a href="{% url 'explore' %}">visualisation tools</a>
        to build and plot your own analysis...
      </p>
    </div>

    <div class="span6">
      <h2>
        <i class="icon-dashboard"></i>
        reports for GPs and CCGs
      </h2>
      <p>
        Analyse your own prescribing habits for formulary adherence, track
        your prescribing targets and comparisons to similar prescribers...
        <a href="{% url 'contact' %}">Contact us</a> to find out more...
      </p>
    </div>

  </div> <!-- row-fluid -->

  <hr />

  <div class="row-fluid">

    <div class="span12">
      <h4>
        <i class="icon-bar-chart"></i>
        bespoke analysis
      </h4>
      <p class="ssh">
        Want something that's not currently available?
        <a href="{% url 'contact' %}">drop us a line</a> and let us know,
        we can help you ask the right questions and find the answers...
      </p>
    </div>

  </div> <!-- row-fluid -->

  <hr />

  <h2>
    examples
  </h2>


  {% get_featured_entries 4 "zinnia/featured_entries.html" %}

{% endblock %}
