{% extends 'baser.html' %}
{% block content %}
  <h1>
    Campaign to change inhaler prescribing patterns
  </h1>
  <h2>
    <a href="www.sustainablehealthcare.org.uk">
      Centre for Sustainable Healthcare 2013
    </a>
  </h2>
  <h3>
    Unintended consequences of respiratory care
  </h3>
  <div>
    <p>
      The continued use of metered-dose inhalers in respiratory care will have a potentially
      catastrophic effect on global warming if production is not controlled 2, largely because these
      inhalers use potent green-house gas hydroflourocarbons (HFCs) as propellants. A cost-
      effective and safe alternative is available in the form of Dry Powder Inhalers (DPIs), and we
      call for clinicians and patients to prescribe and request Dry Powder Inhalers in preference to
      inhalers using hydroflourocarbon propellants unless clinically contra indicated.
    </p>
  </div>
  <h2>
    Proportion of Metered (Bucket 1) vs Powdered (Bucket 2) inhaler prescriptions.
  </h2>
  <div id="inhaler-map"></div>
  <div>
    <h3>
      Background
    </h3>
    <p>
      The World Health Organisation (WHO) estimates that hundreds of millions of people suffer
      from chronic respiratory diseases3. These diseases cannot be cured, but can be controlled
      using drugs, many of which are delivered by inhalers. The “press-and-breathe” metered
      dose inhaler (MDI) was introduced in 1956 and is generally credited as being the first
      inhaler. In this device the drug is dissolved or suspended in a propellant under pressure.
      When activated, a valve system releases a metered volume of drug and propellant.
    </p>
    <p>
      The original MDIs contained chlorofluorocarbons (CFCs) as a propellant. With the
      implementation of the 1987 Montreal Protocol4 on ozone depletion, the pharmaceutical
      companies worked in good faith to produce two CFC alternatives: MDI inhaler devices using
      hydrofluorocarbons (HFCs) as a propellant, and Dry Powder Inhalers (DPIs) that did not
      require a propellant.
    </p>
    <p>
      Although not ozone depletion gases, the HFCs developed to replace CFCs (used in
      refrigeration, air conditioning and MDIs) are powerful greenhouse gases that contribute to
      global warming. As the main alternative to CFCs, HFC production is increasing rapidly (from
      300 000 tonnes/year currently to a projected 900 000 tonnes/year by 2018).
    </p>
    <p>
      WHO ref: http://www.who.int/respiratory/about_topic/en/index.html
      The Montreal Protocol on Substances that Deplete the Ozone Layer, http://ozone.unep.org/new_site/en/
      montreal_protocol.php, last accessed Sept 4th 2012
    </p>
    <p>
      Alternatives to HFCs, such as ammonia and carbon dioxide, are now available for air
      conditioning and refrigeration, but are not suitable for MDIs. Current HFC use in MDIs is
      about 9000 tonnes (about 3% of total use).
    </p>
    <p>
      This is critical because the implementation of the proposed HFC controls over the next
      40 years could save the equivalent of 70–90 gigatonnes of carbon dioxide, comparable to
      burning all of the world’s oil.
    </p>
    <p>
      At current levels 3% or the equivalent of 2.1 to 2.7 gigatonnes of CO2 would be due to MDI
      inhaler use, and this doesn’t include the increase in prevalence of asthma and COPD.
    </p>

{% endblock %}
{% block extrascripts %}
  <script type="text/javascript" src="{{STATIC_URL}}js/data/ccg-data.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/clients/inhaler.js"></script>
  <script type="text/javascript">

    // We know the BNF codes in advance, so let's just set them declaratively
    var metered = [
        "0301011R0AAAPAP",
        "0301011R0BDAEAP",
        "0301011R0BEAIAP",
        "0301011R0BIAAAA",
        "0301011R0BIAFAP",
        "0301011R0BIAGBU",
        "0301011R0BIAHAP",
        "0301011R0BMAAAP",
        "0301011R0BMABBU",
        "0301011R0BYAAAP",
        "0301011U0AAAHAH",
        "0301011U0BBACAC",
        "0301011U0BBAFAH",
        "0301011U0BDAAAH",
        "0301011U0BEAAAH",
        "0301020I0BBAAAA",
        "0301020I0BBADAD",
        "0301020I0BBAGAG",
        "0301020I0BBAJAN",
        "0302000C0AAAAAA",
        "0302000C0AAABAB",
        "0302000C0AAACAC",
        "0302000C0BBAAAC",
        "0302000C0BCAHAB",
        "0302000C0BCAIAA",
        "0302000C0BCAQAR",
        "0302000C0BEABAU",
        "0302000C0BEACAT",
        "0302000C0BFAAAA",
        "0302000C0BFABAB",
        "0302000C0BFACAC",
        "0302000C0BFAEAT",
        "0302000C0BFAGAR",
        "0302000C0BGAAAA",
        "0302000C0BJAABE",
        "0302000C0BJABBF",
        "0302000C0BJACBG",
        "0302000C0BJADBH",
        "0302000C0BJAEBG",
        "0302000C0BJAFBH",
        "0302000C0BPAABE",
        "0302000C0BPABBF",
        "0302000C0BPACBV",
        "0302000C0BPADBW",
        "0302000C0BQAABX",
        "0302000K0BBADAD",
        "0302000K0BBAEAA",
        "0302000K0BBAMAZ",
        "0302000K0BBANBA",
        "0302000N0BBAXBA",
        "0302000N0BBAYBB",
        "0302000N0BBAZBC",
        "0302000N0BBBBBH",
        "0302000N0BCADBE",
        "0302000N0BCAEBF",
        "0302000N0BCAFBG",
        "0302000N0BDAABJ",
        "0302000N0BDABBK",
        "0302000N0BDACBL",
        "0302000U0BBAAAA",
        "0302000U0BBABAB",
        "0302000U0BBACAC",
        "0303010Q0BBALAN"
    ].join(',')

    var powdered = [
        "0301011E0BBAAAA",
        "0301011E0BCAAAB",
        "0301011E0BCABAC",
        "0301011E0BDAAAD",
        "0301011E0BEAAAE",
        "0301011R0BEAHAQ",
        "0301011R0BJABAF",
        "0301011R0BPADAW",
        "0301011R0BTAABX",
        "0301011R0BWAABZ",
        "0301011R0BWABCA",
        "0301011R0BXAACB",
        "0301011R0BXABCC",
        "0301011U0BBAAAA",
        "0301011U0BBABAB",
        "0301011U0BBAEAE",
        "0301011V0BBAMAL",
        "0301011X0BBAAAA",
        "0301011X0BBABAB",
        "0301020I0BBAHAH",
        "0301020Q0BBAAAA",
        "0301020Q0BBABAB",
        "0301020Q0BBACAC",
        "0301020R0BBAAAA",
        "0302000C0BBACAJ",
        "0302000C0BHAAAG",
        "0302000C0BHABAL",
        "0302000C0BHACAH",
        "0302000C0BHADAK",
        "0302000C0BHAEAJ",
        "0302000C0BHAFAQ",
        "0302000C0BIADBI",
        "0302000C0BIAEBJ",
        "0302000C0BIAFBK",
        "0302000C0BLAABM",
        "0302000C0BLABBN",
        "0302000C0BLACBP",
        "0302000C0BMABAF",
        "0302000C0BNAABU",
        "0302000K0BBAHAG",
        "0302000K0BBAIAH",
        "0302000K0BBAKAK",
        "0302000K0BCAAAH",
        "0302000K0BDAAAL",
        "0302000K0BDABAM",
        "0302000K0BDACAU",
        "0302000K0BFAAAV",
        "0302000K0BFABAC",
        "0302000K0BGAAAK",
        "0302000K0BGABAX",
        "0302000K0BGACAY",
        "0302000N0BBACAC",
        "0302000N0BBAFAF",
        "0302000N0BBARAR",
        "0302000N0BBASAS",
        "0302000N0BBATAT",
        "0302000N0BBAUAU",
        "0302000N0BCAAAX",
        "0302000N0BCABAY",
        "0302000N0BCACAZ",
        "0302000R0BBAAAA",
        "0302000R0BBABAB",
        "0302000R0BBACAC",
        "0302000R0BBADAD",
        "0303010Q0BBACAD"
    ].join(',');


    jQuery(document).ready(function(){
        jQuery('body').tooltip({
            selector: '.tt'
        });

        Inhaler.start();
    });
  </script>

{% endblock %}
