<div id="logo">
  <a href="{% if request.user.is_authenticated %}/home{% else %}/{% endif %}">
    <img src="{{STATIC_URL}}/img/drugs.jpg" alt="Open Prescribing" width="100px"/>
  </a>
</div>

<div id="nav">
  <ul>
    {% if request.user.is_superuser %}
      <li><a href="/admin/">Admin</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
      <li><a href="#">Account</a></li>
      <li><a href="/logout">Log Out {{ request.user }}</a></li>
      <hr />
    {% else %}
      <li><a href="/accounts/login">Log In</a></li>
    {% endif %}
    <li>
      <a href="{% url 'explore' %}">Explore</a>
    </li>
    <li>
      <a href="{% url 'about' %}">About</a>
    </li>
    <li>
      <a href="{% url 'data' %}">Data</a>
    </li>
    <li >
      <a href="/api/doc">Api</a>
    </li>
  </ul>
</div>
