<div id="logo">
  <a href="{% if request.user.is_authenticated %}/home{% else %}/{% endif %}">
    <img src="{{STATIC_URL}}/img/op-logo.png" alt="Open Prescribing" />
  </a>
</div>

<div id="nav">
  <ul>
    {% if request.user.is_superuser %}
      <li>
        <a href="/admin/">admin</a>
      </li>
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="Dashboard">
        dashboard
      </a>
    </li>

    {% endif %}
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'logout' %}">log out {{ request.user }}</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">log in</a></li>
    {% endif %}

    <li>
      <a href="{% url 'explore' %}">explore</a>
    </li>

    <li>
      <a href="{% url 'about' %}">about</a>
    </li>
    <li>
      <a href="{% url 'data' %}">data</a>
    </li>
    <li>
      <a href="{% url 'contact' %}">contact</a>
    </li>
    <li >
      <a href="/api/doc">api</a>
    </li>
  </ul>
</div>

<div id="brought">
  <a href="http://www.openhealthcare.org.uk">
    <img src="{{STATIC_URL}}img/ohc.png">
    <p>
      brought to you by Open Health Care UK
    </p>
  </a>
</div>
