{% load navtags %}
{% url 'explore' as explore_url %}
{% url 'data' as data_url %}
{% url 'about' as about_url %}

<div id="logo">
  <a href="{% if request.user.is_authenticated %}/home{% else %}/{% endif %}">
    <img src="{{STATIC_URL}}/img/op-logo.png" alt="Open Prescribing" />
  </a>
</div>

<div id="nav">
  <ul class="nav nav-pills nav-stacked">
    {% if request.user.is_superuser %}
      <li>
        <a href="/admin/">admin</a>
      </li>
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="Dashboard">
        dashboard
      </a>
    </li>

    {% endif %}
    {% if request.user.is_authenticated %}
      <li class="{% active request '/accounts/logout' %}"><a href="{% url 'logout' %}">log out {{ request.user }}</a></li>
    {% else %}
      <li class="{% active request '/accounts/login' %}"><a href="{% url 'login' %}">log in</a></li>
    {% endif %}

    <li class="{% active request explore_url %}">
      <a href="{% url 'explore' %}">explore</a>
    </li>

    <li class="{% active request about_url %}">
      <a href="{% url 'about' %}">about</a>
    </li>
    <li class="{% active request data_url %}">
      <a href="{% url 'data' %}">data</a>
    </li>
    <li class="{% active request '/contact' %}">
      <a href="{% url 'contact' %}">contact</a>
    </li>
    <li class="{% active request '/api/doc' %}">
      <a href="/api/doc">api</a>
    </li>
  </ul>

            <div id="brought">
              <a href="http://www.openhealthcare.org.uk">
                <img src="{{STATIC_URL}}img/ohc.png">
                <p>
                  brought to you by Open Health Care UK
                </p>
              </a>
            </div>

</div>
