{% extends 'baser.html' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" href="{{STATIC_URL}}/css/clients/ratio.css" type="text/css" media="all" />
{% endblock %}

{% block precontainer %}

  <div id="explore-nav">
    <ul class="nav nav-pills nav-stacked">
      <li class=""><a href="/explore">Individual Drugs</a></li>
      <li class="active"><a href="/explore/ratio">Relationships</a></li>
    </ul>
  </div>

  <div id="explore-container"></div>
  {% block ratioextra %}{% endblock %}

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-lg-8 col-offset-2">
      <h2>e.g.</h2>
      <p class="lead">
        What does the <a href="{% url 'example-hfc' %}">
        breakdown of inhaler prescriptions</a> with
        HFC/Dry powder systems look like by CCG?
      </p>
      <p class="lead">
        Which CCGs or practices prescribe <a href="{% url 'explorecompare' %}/0212000AAAAAAAA,0212000AAAAACAC/0212000ACAAAAAA,0212000ACAAACAC,0212000B0AAAAAA,0212000B0AAACAC,0212000X0AAAAAA,0212000X0AAADAD,0212000Y0AAAAAA,0212000Y0AAADAD,0212000Y0AAALAL">
        unusually high proportions of branded statins</a>?
      </p>
    </div>
  </div>

{% endblock %}

{% block footerclass %}navbar-static-bottom{% endblock %}


{% block extrascripts %}
  <script type="text/javascript" src="{{STATIC_URL}}js/data/ccg-data.js"></script>
  <script src="{{STATIC_URL}}js/clients/ratio.js"></script>
  <script type="text/javascript">
    window.$ = jQuery
    $(document).ready(function(){
        $('body').tooltip({
            selector: '.tt'
        });
        $(".tabbable").live('click', function(e){
            e.preventDefault();
            $(this).tab("show");
        });

        Explore.start();
    });
  </script>
{% endblock %}
