{% extends 'vis/_ratio_base.html' %}
{% block extrastyles %}
  {{ block.super }}
  <style>
    #explore-container {
        min-height: auto;
    }
  </style>
{% endblock %}

{% block ratioextra %}
<div class="row-fluid">
  <div class="span6">
    <h4>Bucket 1</h4>
    <ul>
      {% for drug in bucket1 %}
        <li>{{drug.name}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6">
    <h4>Bucket 2</h4>
    <ul>
      {% for drug in bucket2 %}
        <li>{{drug.name}}</li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
